.balance-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 1rem; }

.balance {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 10%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 40%, #5d4a1f 62.5%, #5d4a1f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 0;
  font-weight: 500; }

@media (max-width: 767px) {
  .balance {
    font-size: 1.5rem; } }
