.text-container {
    font-size: 2rem;
    font-weight: 500;
    flex-grow: 1;
    height: 8vh;
    justify-self: end;
}

.bet-amount {
    font-size: 2rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .text-container {
        font-size: 1rem;
        align-self: center;
    }

    .bet-amount {
        font-size: 1rem;
        align-self: center;
    }
}