.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("./assets/images/background.jpg"); }

.content-container {
  flex: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.game-table {
  opacity: 0;
  transform: scale(0.2); }

.game-table-active {
  opacity: 1;
  transform: scale(1);
  transition: all 1000ms; }

.action-container {
  flex: 5;
  flex-direction: row;
  width: 100%; }

.game-table-enter {
  opacity: 0;
  transform: translateY(-100%); }

.game-table-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 1000ms ease-in-out, transform 1000ms ease-in-out; }

.game-table-exit {
  opacity: 1;
  transform: translateY(0%); }

.game-table-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1000ms ease-in-out, transform 1000ms ease-in-out; }

@media screen and (max-width: 600px) {
  .main-container {
    flex-direction: column; }
  .content-container,
  .action-container {
    height: calc(95vh + 5vh); } }

.bet-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap; }
