.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("./assets/images/background.jpg");
}

.header-container {
  flex: 5;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.content-container {
  flex: 75;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.action-container {
  flex: 20;
}

@media screen and (max-width: 600px) {
  .main-container {
    flex-direction: column;
  }

  .header-container,
  .content-container,
  .action-container {
    height: calc(5vh + 75vh + 20vh);
  }
}


.bet-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}