.btn {

    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    min-width: 7rem;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }
}

$btn-large-padding: 0.7rem 1.1rem;
$btn-small-padding: 0.4rem 0.6rem;
$btn-border-radius: 0.5rem;
$btn-transition-time: 64ms;

$btn-type: (
    "blue": ("color": #ffffff,
        "background-color": rgb(24, 80, 137)
    ),
    "green": ("color": #ffffff,
        "background-color": #01662b,
    ),
    "yellow": ("color": #ffffff,
        "background-color": rgb(167, 122, 19),
    ),
    "red": ("color": #ffffff,
        "background-color": #981313,
    ),
    "black": ("color": #000000,
        "background-color": rgb(179, 197, 214),
    ),
);

.btn {
    --color: #000000;
    --border-color: darken(#d8d8d8, 7.5%);
    color: var(--color);
    font-family: inherit;
    
    padding: $btn-large-padding;
    font-size: 1.5rem;
    font-weight: 500;
    border: solid 2px var(--border-color);
    outline: none;
    position: relative;
    border-radius: $btn-border-radius;
    user-select: none;
    box-shadow:
        0 0.2rem 0.4rem rgba(0, 0, 0, 0.4),
        0 -0.3rem 0.6rem rgba(0, 0, 0, 0.2) inset;
    transition: box-shadow $btn-transition-time ease-out;
    cursor: pointer;

    &:hover{
        transform: scale(1.05);
        transition: transform 0.5s ease-in-out;
        background-color: var(--background-color);
    }

    &:active {
        box-shadow:
            0 0 0 rgba(0, 0, 0, 0.4),
            0 0.4rem 1rem rgba(0, 0, 0, 0.3) inset;

        &:after {
            opacity: 0;
        }
    }

    @media only screen and (max-width: 768px) {
        font-size: 1.2rem;
        padding: $btn-small-padding;
    }

    @media only screen and (max-width: 480px) {
        font-size: 1rem;
        padding: $btn-small-padding;
    }
}
.btn:disabled {
    --color: #000000;
    --background-color: #d8d8d8;
    --border-color: darken(#d8d8d8, 7.5%);
    color: var(--color);
    cursor: not-allowed; 
}

@each $type,
$styles in $btn-type {
    .btn-#{$type} {

        @each $style,
        $value in $styles {
            --#{$style}: #{$value};

            @if ($style =="background-color") {
                --border-color: #{$value};
                background-color: #{lighten($value, 10%)};
                
            }

        }
    }
}


