.btn {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer; }

.btn:last-child {
  margin-right: 0; }

.btn {
  --color: #000000;
  --border-color: darken(#d8d8d8, 7.5%);
  color: var(--color);
  font-family: inherit;
  padding: 0.7rem 1.1rem;
  font-size: 1.5rem;
  font-weight: 500;
  border: solid 2px var(--border-color);
  outline: none;
  position: relative;
  border-radius: 0.5rem;
  user-select: none;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4), 0 -0.3rem 0.6rem rgba(0, 0, 0, 0.2) inset;
  transition: box-shadow 64ms ease-out;
  cursor: pointer; }

.btn:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
  background-color: var(--background-color); }

.btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0.4rem 1rem rgba(0, 0, 0, 0.3) inset; }

.btn:active:after {
  opacity: 0; }

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 1.2rem;
    padding: 0.4rem 0.6rem; } }

@media only screen and (max-width: 480px) {
  .btn {
    font-size: 1rem;
    padding: 0.4rem 0.6rem; } }

.btn:disabled {
  --color: #000000;
  --background-color: #d8d8d8;
  --border-color: darken(#d8d8d8, 7.5%);
  color: var(--color);
  cursor: not-allowed; }

.btn-blue {
  --color: #ffffff;
  --background-color: #185089;
  --border-color: #185089;
  background-color: #2069b4; }

.btn-green {
  --color: #ffffff;
  --background-color: #01662b;
  --border-color: #01662b;
  background-color: #019940; }

.btn-yellow {
  --color: #ffffff;
  --background-color: #a77a13;
  --border-color: #a77a13;
  background-color: #d59b18; }

.btn-red {
  --color: #ffffff;
  --background-color: #981313;
  --border-color: #981313;
  background-color: #c51919; }

.btn-black {
  --color: #000000;
  --background-color: #b3c5d6;
  --border-color: #b3c5d6;
  background-color: #d4dee8; }
